FIGMA_ACCOUNT_1_EMAIL=""
# FIGMA_EMAIL=""
# FIGMA_PASSWORD=""
FIGMA_ACCOUNT_1_AUTH_COOKIE=""
FIGMA_ACCESS_TOKEN=""
DOWNLOAD_PATH="" # Absolute path where files will be downloaded to

WAIT_TIMEOUT=10000 # Time in ms to wait between downloads (defaults to 10000)